:root {
    --mainbgcolor: #fbf3ff;
    --buttonbg: #008d40;
    --bs-secondary: #6c757d;
    --bs-default: #4A4754;
    --fa-check: #02b502;
    --bg-danger: #e90f10;
    --bg-warning: #ffad00;
    --btn-dashboard: #05b050;
    --bg-nav: #f1f1f1;
    --bg-main: #f5f5f5;
    --bg-sidenav: linear-gradient(180deg, #29333f 0%, #1c2131 100%);
    --btn-shadow: 0px 1.88889px 3.77778px rgba(44, 39, 56, 0.08),
      0px 3.77778px 7.55556px rgba(44, 39, 56, 0.08);
    --universal-font: 'Maven Pro', sans-serif;
    --alert-success: #DCFCE7;
    --bg-dot:#22C55E;
    --bg-blue1:#3498DB;
    --bg-red1:#CD4647;
    --bg-yellow1:#FBC52B;
    --bc-pending:#FAB900;
    --bg-pending: #FFF8E6;
    --bg-past:#F9E9E9;
    --bc-past: #C32021;
}
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: 200ms linear;
    /* font-family: "Maven Pro", sans-serif; */
    font-family: var(--universal-font);
}


html {
    /* font-size: 12px; */
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

.default-color{
    font-weight: 400;
    color: var(--bs-default);
}

.success-color{
    color: var(--bg-dot);
}


body {
  font-family: var(--universal-font);
  /* font-size: 1rem; */
  font-weight: normal;
  line-height: 1.5;
}

li, a, span, div, button{
    font-size: 14px !important;
}

a, button {
  list-style: none;
  outline: none;
  border: none;
  background: transparent;
  text-decoration: none !important;
  font-weight: 300; 
  font-size: 15px !important;
}
h1 {
  font-family: var(--universal-font);
  font-size: 24px !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h2 { 
    font-family: var(--universal-font);
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 26.4px;

}
h3 {
  font-family: var(--universal-font);
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
h6{
    font-family: var(--universal-font);
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    line-height: 15px;
}
p {
  font-family: var(--universal-font);
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.search-bar{
    padding: 10px 20px;
    border-radius: 20px;
}
.search-bar:focus{
    outline: none !important;
    box-shadow: unset !important;
    border: 1.5px solid var(--bs-secondary) !important
}
.srch-icon{
    top: 14px;
    left: 45px;
}

.p-15{
    padding: 11px 12px;
}
.p-16 {
    padding: 16px !important;
}
textarea::placeholder{
    font-size: 15px;
    color: var(--bs-secondary);
    font-family: var(--universal-font) !important;
}
input::placeholder{
    column-gap: var(--bs-secondary);
    font-family: var(--universal-font) !important;
}
input{
    font-weight: 300 !important;
    font-size: 14px !important;
    letter-spacing: .05rem;
    border-radius: unset !important;
    font-family: var(--universal-font) !important;
}
label{
    font-weight: 500 !important;
    font-size: 15px !important;
    letter-spacing: .05rem;
    border-radius: unset !important;
    font-family: var(--universal-font) !important;
}
select {
    font-size: 14px !important;
    border-radius: unset !important;
  
}
.a-class {
    outline: unset !important;
    box-shadow: unset !important;
}

input:focus, select:focus {
    outline: none !important;
    box-shadow: unset !important;
    border: 1.5px solid var(--buttonbg) !important;
    
}
.form-check-input[type="checkbox"] {
    border-radius: 0.25em !important;
    
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
    
}
.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    /* background-color: #fff; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,0.25);
    appearance: none;
}
.page-item.active .page-link, .form-check-input:checked {
    background-color: #2dbe60;
    border-color: #2dbe60;
}

button:focus {
    outline: none !important;
    box-shadow: unset !important;
    border: unset !important;
}
.btn{
    border-radius: unset !important;
}
.success{
    background: var(--buttonbg);
    opacity: 1;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .05rem;
}
button.success:hover,.btn-second:hover, .success:hover{
    opacity: .9;
}
.btn-second{
    background: var(--bg-secondbtn);
}

.badge-dot {
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    font-weight: 400;
    font-size: 0.875rem;
    text-transform: none;
    color: var(--bs-default);
}

.badge {
    text-transform: uppercase;
}
.mr-4, .mx-4 {
    margin-right: 1.5rem !important;
}
.badge {
    display: inline-block;
    padding: 0.35rem 0.375rem;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.375rem;
}

.badge-dot i {
    display: inline-block;
    vertical-align: middle;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    margin-right: 0.375rem;
}

.badge-name{
    text-transform: uppercase;
    font-size: 11px !important;
}

.bg-warning {
    background-color: #fb6340 !important;
}


/* login screens starts */

#main-wrapper {
    background: #f1f5f6;
}

.hero-wrap {
    position: relative;
}

.hero-wrap .hero-mask {
    z-index: 1;
}
.hero-wrap .hero-mask, .hero-wrap .hero-bg, .hero-wrap .hero-bg-slideshow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.bg-primary {
    background-color: #2dbe60 !important;
    /* background: linear-gradient(
      217deg,
      rgba(255, 251, 0, 0.651),
      rgba(208, 255, 0, 0.048) 70.71%
    ), linear-gradient(127deg, rgba(114, 134, 2, 0.534), rgba(126, 148, 1, 0.116) 70.71%),
    linear-gradient(336deg, rgba(238, 255, 0, 0.466), rgba(251, 255, 0, 0.089) 70.71%);
      */
}
.opacity-8 {
    opacity: 0.3;
}

.hero-wrap .hero-bg.hero-bg-scroll {
    background-attachment: scroll;
}

.hero-wrap .hero-bg {
    z-index: 0;
    /* background-attachment: fixed; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    transition: background-image 300ms ease-in 200ms;
}

.hero-wrap .hero-content {
    position: relative;
    z-index: 2;
}

.text-11, .text-12, .text-13, .text-14, .text-15, .text-16, .text-17, .text-18, .text-19, .text-20, .text-21, .text-22, .text-23, .text-24, .text-25 {
    line-height: 1.3;
}

.lh-base {
    line-height: 1.5 !important;
    
}

.text-4 {
    font-size: 18px !important;
    font-size: 1.125rem !important;
}

.logo img {
    width: 70%;
    /* margin-top: 20%; */
  }

  .logo-sm img {
    width: 70%;
    /* margin-top: 20%; */
  }

  .logo-dot img {
    width: 40%;
    margin-top: 7%;
  }

  .text-primary, .btn-light, .btn-outline-light:hover, .btn-link, .link-primary {
    color: #2dbe60 !important;
}
/* .log { */
    /* min-height: 100vh; */
  /* } */
  
  /* .bg-image { */
    /* height: 100vh; */
    /* background-image:
    linear-gradient(45deg, rgba(255, 225, 0, 0.24) 0%, rgba(225, 255, 255, 0) 100% 100%),
    url('../assets/images/rightside/zimg1.png'); */
    /* background: linear-gradient(
      217deg,
      rgba(255, 251, 0, 0),
      rgba(208, 255, 0, 0) 70.71%
    ), linear-gradient(127deg, rgba(208, 255, 0, 0), rgba(217, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(238, 255, 0, 0.014), rgba(251, 255, 0, 0.116) 70.71%),
    url('../assets/images/rightside/zimg1.png'); */
    /* background-image: url('../assets/images/rightside/zimg1.png'); */
    /* background-size: cover;
    background-position: center;
    opacity: 98%; */
  /* } */

  /* .white-dots img {
    width: 30%;
    float: right;
  }
  
  
  .login-heading {
    font-weight: 600;
    font-family: var(--universal-font);
  }
  .bg_img {
    background-image: url('../assets/images/Right\ Side\ \(1\).png');
    background-size: cover;
    background-position: center;
  }
  */
  .shadow-2 {
    background-color: white !important;
    border-radius: 10px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .shadow-dot:hover{
    background-color: white !important;
    border-radius: 8px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
 
  /* .shadow-5 {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  } */
  /* login screens starts end */


/* wllet balance  */
.wallet-bal{
    color: var(--btn-dashboard);
    font-weight: 600;

}

/* Welcome */
.welcome{
    color: var(--bs-default);
}


/* Log in button style */
.login {
    background: var(--btn-dashboard);
    box-shadow: var(--btn-shadow);
}

/* Notification bell */
.fa-bell {
    font-size: 16px;
}

/* Top nav bar background colour  */
.light{
    background: var(--bg-nav);
}

.icon-shape {
    padding: 12px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 50%; */
}
.icon {
    width: 3rem;
    height: 3rem;
}
.icon-shape i, .icon-shape svg {
    font-size: 1.25rem;
}

/* Right Side top box bg colour and style */
.dash{
    background: var(--bg-main);
}

.title{
    font-family: var(--universal-font);
}
.box-1{
    color: var(--bs-default);
}
.box-2{
    color: var(--btn-dashboard);
}
.box-3{
    color: var(--bg-blue1);
}
.box-4{
    color: var(--bg-red1);
}
.box-5{
    color:var(--bg-yellow1);
}
.bg-yellow {
    background: var(--bg-yellow1);
}
/* Right side main ends  */


/* Side nav begins  */
.nav-left ul li a{
    padding: 15px 18px;
}
.nav-left ul li a:hover{
    background: var(--btn-dashboard) !important;   
    border-radius: 5px;
    transition: 300ms linear;
}
.user-height{
    height: 100vh;
}

.bd-links .btnn[aria-expanded="true"]::after {
    transform: rotate(90deg) !important;
}

.bd-links .btnn::after {
    /* width: 1.25em !important; */
    line-height: 0 !important;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease !important;
    transform-origin: 0.5em 50% !important;
}

.leftfixedside{
    /* position: fixed; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background: var(--bg-sidenav);
    margin-top: 67px;
    overflow-y: auto;
}
.active{
    background: var(--btn-dashboard) !important;
    padding: 15px 18px;
    border-radius: 5px;
}
.spacing-4{
    letter-spacing: 2px;
    font-weight: lighter !important;
    font-family: var(--universal-font) !important;
    font-size: 13px !important;
    font-style: normal !important;
}
/* Side Nav Ends  */


/* table begins here */
/* table status  */
/* text and background color for pending status and due status starts */
.pending{
    background:var(--bg-pending) ;
    color: var(--bc-pending);
}
.p-dot{
    background: var(--bc-pending);
    letter-spacing: 2.5px !important;
}
/* text and background color for pending status and due status ends */

/* text and background color for completed and paid status begins */
.successalert{
    background: var(--alert-success);
}
.dot{
    background: var(--bg-dot);
    letter-spacing: 2.5px !important;
}
/* text and background color for completed and paid status ends */

.past-due{
    background:var(--bg-past) ;
    color: var(--bc-past);
}
.past{
    background: var(--bc-past);
    letter-spacing: 2.5px !important;
}

.table{
    /* border-collapse: collapse !important; */
    /* border-spacing: 10px 20px !important; */
    border-top: 1px solid #dee2e6 !important;
    margin-bottom: 70px;
    
}


th{
  background-color: var(--bg-main) !important;
  font-size: 12px !important;
  line-height: 16px !important;

}

/* table end here */

/* user form */
.shadow-form{
    border-color: rgba(50, 151, 211, 0.25);
    padding: 12px 18px;
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
    border: 0;
    transition: box-shadow .15s ease;
}
.form-control-label {
    color: #525f7f;
    font-size: 0.875rem;
    font-weight: 600;
}
.form-control:focus{
    background-color: white;
}
.rounded-5{
    border-radius: 10px !important;
}
.rounded-6{
    border-radius: 5px !important;
}





/* media screen starts */

@media screen and (min-width: 960px) {
    .leftfixedside{
        width: 22%;
    }
    
    .rightscrollableside{
        width:78%;
       
    }
    .bg_img {
        background-image: none;
    }

    .shadow-2 {
        background-color: none !important;
        border-radius: unset !important;
        box-shadow: unset !important;
      }
}
@media screen and (min-width: 1400px) {


    .leftfixedside{
        width: 18%;
    }
    
    .rightscrollableside{
        width:83%;
    }
    /* right side image starts */
    .bg-image {
        min-height: 100vh;
        background-image: url('../assets/images/Right\ Side.svg');
        background-size: cover;
        background-position: center;
        
      }
    .login-heading {
        font-weight: 600;
        font-family: var(--universal-font);
        font-size: 50px !important;
      }
      /* right side image ends  */


      /* side nav for large screens */
      .nav-left ul li a{
        padding: 22px 30px;
    }
   
    .active{
        background: var(--btn-dashboard) !important;
        padding: 22px 30px !important;
        border-radius: 5px;
    }
    .spacing-4{
        letter-spacing: 2px;
        font-weight: 300 !important;
        font-family: var(--universal-font) !important;
        font-style: normal !important;
        font-size: 13px !important;
    }
    /* side nave ends here for large screens */
   
}



/* media screeen end here */



/* --------------------- sweet alert custom button color -------------------- */
.swal-button {
    background-color: var(--btn-dashboard) !important;
    border: 1px solid var(--btn-check) !important;
}
/* --------------------- sweet alert custom button color ends  -------------------- */


