
<nav class="navbar navbar-light light px-4 py-2">
    <div class="container-fluid">
        <a class="navbar-brand ps-0 ps-lg-2  ms-lg-4 ">
            <img src="../assets/logo/zowasel-logo-grey-614x (1) 1.png" class="img-fluid" style="width:160px ;" alt="" />
        </a>
    <!-- search starts -->
        <div class=" col-md-5 col-lg-7 col-xxl-8 pe-5 ms-5 position-relative d-none d-md-inline-block">
                <i class="fa fa-search position-absolute srch-icon text-secondary"></i>
                <input class="col form-control ps-5   ms-4 rounded-3 text-secondary search-bar" type="search" placeholder=" Type to search" aria-label="Search">
        </div>
    <!-- search ends -->
        <form class="d-flex justify-content-center align-items-center">
            <a class="navbar-brand pe-2 d-none d-md-inline-block" style="cursor: pointer;"><img src="../assets/images/icons/Bell.svg" alt=""></a>
            <a class="navbar-brand d-none d-md-inline-block " style="cursor: pointer;"><img src="../assets/images/icons/GearSix.svg" alt=""></a>
            <!-- Navnar Drop Down -->
            <div class="dropdown">
                <a class="nav-link  dropdown-toggle pe-2" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">
                    <img src="../assets/images/icons/image 3.svg" width="40" height="40" class="rounded-circle" alt=""></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Carbury</a></li>
                <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                </ul>
            </div>
            
            

            <!-- Bar for medium and small screen -->
            <button class="navbar-toggler d-inline-block d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </form>
    </div>
</nav>